.modal-container{
    .bottom{
        display: flex;
        align-items: center;
        height: 60px;
    }
    .bottom > *{
        flex: 1;
    }
}
.project-owner-menu.assignee-menu.dropdown-menu{
    right: 400px;
    top: 60px;
}