.section-header{
    .dotdotdot{
        color: white;
    }
}
.section-header:hover{
    .dotdotdot{
        color: #6f7782;
    }
    .btn:hover .dotdotdot{
        color: #151b26;
    }
}
.section-menu.dropdown-menu{
    right: auto;
    top: 29px;
}