
    .lightblue{
        background-color: lightblue;
    }
    .violet{
        background-color: violet;
    }
    .cornflowerblue{
        background-color: cornflowerblue;
    }
    .tan{
        background-color: tan;
    }
    .lightgreen{
        background-color: lightgreen;
    }
    .orange{
        background-color: orange;
    }
    .coral{
        background-color: coral;
    }
    .gold{
        background-color: gold;
    }
    .mistyrose{
        background-color: mistyrose;
    }
    .greenyellow{
        background-color: greenyellow;
    }
    .lightsalmon{
        background-color: lightsalmon;
    }
    .lightseagreen{
        background-color: lightseagreen;
    }
    .red{
        background-color: red;
    }
    .deeppink{
        background-color: deeppink;
    }
    .aquamarine{
        background-color: aquamarine;
    }
    .khaki{
        background-color: khaki;
    }
    .yellow{
        background-color: yellow;
    }
    .lightpink{
        background-color: lightpink;
    }
    .silver{
        background-color: silver;
    }
    .deepskyblue{
        background-color: deepskyblue;
    }