body {
    font-family: gordita, Helvetica Neue, Helvetica, sans-serif;
    color: #151b26;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.02em; 
}
a {
    color: #0c0c0c;
    text-decoration: none;
}
h1, h2, h3 {

    margin-bottom: 32px;
    margin-top: 0;
}
h1{
    font-size: 45px;
    line-height: 1.244;
}

.dropdown-menu{
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    border-radius: 4px;
    padding: 4px 0;
    right: 6px;
    top: 37px;
    box-shadow: 0 0 0 1px rgba(111,119,130,.15),0 5px 20px 0 rgba(21,27,38,.08);
    font-size: 13px;
    background-color: white;
    width: fit-content;
    min-width: 180px;
    .menu-item{
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
    }
    .menu-item:hover{
        background-color: #e8ecee;
        cursor: pointer;
    }
}
.date{
    border: none;
    width: 126px;
    font-family: gordita, Helvetica Neue, Helvetica, sans-serif;
    color: #303030;
}
.date:focus{
    border-color: #9ca6af;
    outline: 1px solid #9ca6af;
}
.btn{
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;
    font-size: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        color: #6f7782;
    }
}
.btn:hover{
    background-color: rgba(180,180,180,.2);
    cursor: pointer;
    svg{
        color: #151b26;
    }
}
.btn-sml{
    height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
}
.relative{
    position: relative;
}
[hidden]{
    display: none;
}