.modal-background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(39,50,64,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    .modal-top-buffer, .modal-bottom-buffer{
        flex: 0 1000 80px;
        height: 80px;
        min-height: 40px;
    }
}
.modal-container{
    header{
        border-bottom: 1px solid #e8ecee;
        display: flex;
        flex-shrink: 0;
        padding: 8px 32px;
        position: relative;
        h2{
            align-self: center;
            color: #151b26;
            flex: 1;
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
        }
        .exit{
            right: 8px;
            top: 8px;
        }
    }
    width: 580px;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-container form{
    box-sizing: border-box;
    max-height: 600px;
    overflow-y: auto;
    padding: 16px 32px 32px;
    width: 580px;
}