.tile-inline.project-tile{
    border-radius: 6px;
    height: 24px;
    width: 24px;
    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    svg{
        height: 12px;
        width: 12px;
    }
    margin-right: 12px;
}
.dropdown-menu.search-menu{
    width: 100%;
}
.menu-item{
    .assignee .nav-circle-item{
        margin-right: 8px;
    }
}
.project-menu-item{
    display: flex;
    align-items: center;
}
.task-menu-item{
    display: flex;
    align-items: center;
    .task-title{
        margin-left: 12px;
    }
    svg{
        font-size: 15px;
        margin: 0 4px;
    }
}
.empty-results{
    margin: 24px;
}
.search{
        flex-grow: 1;
        position: relative;
        margin-left: 16px;
        display: flex;
        justify-content: flex-end;
        // input{
        //     float: right;
        // }
        input.nav-circle-item{
            min-width: 140px;
            text-align: left;
            border-color: #cbd4db;
            border-radius: 16px;
            border-style: solid;
            border-width: 1px;
            height: 32px;
            padding: 0 16px 0 32px;
            box-sizing: border-box;
            color: #151b26;
            width: 100%;
        }
        input:hover{
            cursor: text;
        }
        .search-input-wrapper{
            position: relative;
            transition: all .3s;
            margin-right: 8px;
        }
        .search-input-wrapper:focus-within{
            width: 100%;
            flex-grow: 1;
        }
        input:focus{
            outline: none;
        }
        span {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            color: #6f7782;
            font-size: 13px;
        }
    }