
.sidebar-container.hide{
    margin-left: -240px;

}
.sidebar-container{

    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left 250ms ease-out,transform 250ms ease-out;
    width: 240px;
    background-color: #151b26;
    min-height: 100vh;
}
.sidebar-top{
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding-left: 24px;
    .sidebar-burger{
        cursor: pointer;
        color: #9ca6af;
        flex-grow: 0;
        margin-right: 16px;
        padding: 0 8px;
        font-size: 25px;
    }
    .sidebar-burger:hover{
        color: white;
    }
}
.sidebar-nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 0.5px solid rgb(111, 119, 130);
}
.sidebar-nav-item{
    color: #cbd4db;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
}
.sidebar-nav-item:hover{
    background-color: rgba(255,255,255,.2);
    svg{
        color: rgba(255,255,255,.5);
    }
}
.sidebar-proj-item-container{
    position: relative;
    .sidebar-proj-menu{
        top: -4px;
        right: auto;
        left: 225px;
    }
}
.sidebar-proj-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg{
        width: 1.3em;
        height: 1.3em;
        color: rgba(255,255,255,.001);
    }
    svg:hover{
        color: rgba(255,255,255,.9);
    }
}
.sidebar-proj-item > div{
    div:first-child{
        margin-right: 8px;
    }
    display: flex;
    align-items: center;

    justify-content: left;
    .proj-text{
        width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.proj-color-box-sml{
    width: 10px;
    height: 10px;
    border-radius: 3px;
}
.sidebar-team-list{
    padding: 8px 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: normal;
    display : flex;
    flex-wrap: wrap;
    margin: 4px 24px;
}
.links{
    margin: 24px;
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    // border-top: 0.5px solid #6f7782;
    a{
        height: 48px;
        width: 48px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-height: 32px;
            max-width: 32px;
        }
    }
    a:hover{
        background-color: rgba(255,255,255,.2);
    }
}
// .scrollable{
//     overflow-y: overlay;
//     height: calc(100vh - 240px);
// }