.topbar-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0 24px;
    .search{
        margin-left: auto;
        position: relative;
        input.nav-circle-item{
            width: 140px;
            text-align: left;
            border-color: #cbd4db;
            border-radius: 16px;
            border-style: solid;
            border-width: 1px;
            height: 32px;
            padding: 0 16px 0 32px;
            box-sizing: border-box;
            color: #151b26;
            transition: all .3s;
        }
        input:hover{
            cursor: text;
        }
        input:focus{
            outline: none;
            width: 420px;
        }
        span {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            color: #6f7782;
            font-size: 13px;
        }
    }
    .omni-btn{
        font-size: 16px;

    }
    .omni-btn:hover{
        background-color: rgba(180,180,180,.2);
    }
}
h1.top-nav-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    align-items: center;
    color: #151b26;
    flex: 0 1 auto;
    min-width: 1px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 8px;
}
h1:hover{
    cursor: default;
}
.ham-nav-icon{
    height: 36px;
    width: 36px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 6px;
    text-align: center;
}
.ham-nav-icon:hover{
    background-color: rgba(180,180,180,.2);
    cursor: pointer;
}
.avatar{
    position: relative;
    display: inline-block;
  .tool-tip{
    visibility: hidden;
    min-width: 120px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 30px;
  }
  .tool-tip::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}
.avatar:hover .tool-tip{
    visibility: visible;
}


.dropdown-menu{
    z-index: 2;
    position: absolute;
    top: 56px;
    right: 24px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(111,119,130,.15),0 5px 20px 0 rgba(21,27,38,.08);
    font-size: 13px;
    padding: 4px 0;
    background-color: white;
    div{
        padding: 0 32px;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
    }
    div:hover{
        background-color: #e8ecee;
        cursor: pointer;
    }
}
