.assignee {
    position: relative;
    .assignee-menu{
        min-width: 180px;
        height: 144px;
        overflow: scroll;
        right: -8px;
    }
}

//date
.date{
    border: none;
    width: 119px;
    font-family: gordita, Helvetica Neue, Helvetica, sans-serif;
    color: #303030;
}